* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  font-size: 1rem;
  font-weight: 600; }

button:hover, a:hover {
  cursor: pointer; }

body {
  filter: saturate(1.15); }

@font-face {
  font-family: 'maven-100';
  src: url("../assets/fonts/MavenProLight-100.otf") format("opentype"); }

@font-face {
  font-family: 'maven-200';
  src: url("../assets/fonts/MavenProLight-200.otf") format("opentype"); }

@font-face {
  font-family: 'maven-300';
  src: url("../assets/fonts/MavenProLight-300.otf") format("opentype"); }

* {
  font-family: 'maven-200', serif; }

.Router__container {
  height: 100vh; }

.Router__inner-container {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden; }

.Bar {
  height: 100%;
  cursor: pointer;
  min-width: 1%;
  margin-right: 0px; }
  .Bar.--national-debt {
    background-color: #DB614B; }
  .Bar.--national-wealth {
    background-color: #101754; }
  .Bar.--business {
    background-color: #21418E; }
  .Bar.--resource {
    background-color: #3566B2; }
  .Bar.--tourism {
    background-color: #7ea6d7; }
  .Bar.--sport {
    background-color: #DFF1FD; }
  .Bar.--animate {
    opacity: 1;
    transition: opacity 0.25s ease; }

.stack .Bar {
  height: 100% !important; }

.Tooltip {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Tooltip .inner {
    z-index: 3;
    width: 50%;
    max-width: 600px;
    height: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1); }
    @media (max-width: 768px) {
      .Tooltip .inner {
        width: auto; } }
    .Tooltip .inner .header {
      height: 30px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: #101754;
      padding: 2rem;
      color: white; }
      .Tooltip .inner .header h2 {
        max-width: 75%;
        padding: 1rem; }
    .Tooltip .inner .table {
      margin: 1rem 0; }
    .Tooltip .inner .country {
      margin: 1rem 0;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .Tooltip .inner .country span {
        margin-right: 1rem; }
    .Tooltip .inner .footer {
      display: flex;
      justify-content: space-evenly;
      padding: 0.5rem;
      margin-bottom: 1rem; }
      .Tooltip .inner .footer button {
        background-color: #101754;
        padding: 1rem; }
        .Tooltip .inner .footer button p, .Tooltip .inner .footer button h4, .Tooltip .inner .footer button h3, .Tooltip .inner .footer button h2 {
          color: white; }

.data-line {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around; }
  .data-line p {
    text-align: right;
    width: 45%; }
  .data-line p.value {
    text-align: left;
    width: 45%; }
  .data-line .angle {
    width: 10%;
    text-align: center; }

.Walkthrough {
  transform: translateY(1000%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  user-select: none; }
  .Walkthrough h1 {
    font-family: 'maven-300', serif;
    max-width: 700px;
    text-align: center;
    background: white;
    border: 1px solid #BABAB9;
    padding: 1rem;
    border-radius: 10px; }
    @media (max-width: 768px) {
      .Walkthrough h1 {
        font-size: 1rem;
        max-width: 80%; } }
  .Walkthrough.--isActive {
    background-color: transparent;
    transform: translateY(0);
    transform: translateY(0); }

.Modal {
  transform: translateY(1000%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9; }
  .Modal.--isActive {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(0);
    transform: translateY(0); }

.clickable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.CountryList {
  height: calc(100vh - 60px);
  overflow: hidden; }
  .CountryList .list {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 4rem; }
    @media (max-width: 768px) {
      .CountryList .list {
        height: 100%; } }

.list-banner {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .list-banner h2 {
    color: white;
    text-transform: uppercase; }
  .list-banner.--red {
    background-color: #DB614B; }
  .list-banner.--black {
    background-color: #070707;
    margin-top: 2rem; }

.CountryDetail p {
  font-size: 18px; }
  @media (max-width: 768px) {
    .CountryDetail p {
      font-size: 1rem; } }

@media (max-width: 768px) {
  .CountryDetail {
    height: calc(100vh - 60px); } }

.CountryDetail .data-vis {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    .CountryDetail .data-vis {
      overflow-y: scroll;
      height: 70%; }
      .CountryDetail .data-vis p {
        font-size: 14px; } }
  .CountryDetail .data-vis hr {
    background-color: #21418E;
    color: #21418E;
    opacity: 0.8;
    margin: 1rem 0; }
  .CountryDetail .data-vis .Bar {
    height: 15px; }
  .CountryDetail .data-vis .row {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: flex-end;
    width: 100%; }
    .CountryDetail .data-vis .row.--top {
      margin-top: 1rem; }
    .CountryDetail .data-vis .row.--tourism {
      padding: 1rem 1rem 0.5rem 1rem; }
    .CountryDetail .data-vis .row .label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-right: 1rem;
      width: 20%; }
      .CountryDetail .data-vis .row .label p {
        text-transform: capitalize; }

.CountryDetail .banner {
  height: auto;
  background-color: #101754; }
  .CountryDetail .banner .inner {
    margin: 0 auto;
    max-width: 1500px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between; }
  @media (max-width: 768px) {
    .CountryDetail .banner {
      padding: 1rem; }
      .CountryDetail .banner p {
        font-size: 12px; } }
  .CountryDetail .banner h2 {
    text-align: center;
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    opacity: 0.85; }
  .CountryDetail .banner p {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    line-height: 1.4;
    text-align: left;
    max-width: 80%;
    color: white; }

.CountryDetail .footer {
  display: flex;
  justify-content: center; }
  .CountryDetail .footer.--mobile {
    display: none; }
  @media (max-width: 768px) {
    .CountryDetail .footer {
      display: none; }
      .CountryDetail .footer.--mobile {
        display: flex; } }
  .CountryDetail .footer button {
    background-color: #101754;
    padding: 1rem; }
    .CountryDetail .footer button p, .CountryDetail .footer button h4, .CountryDetail .footer button h3, .CountryDetail .footer button h2, .CountryDetail .footer button h1 {
      color: white; }

.bar-group {
  display: flex; }
  .bar-group .Bar {
    min-width: 1% !important;
    margin-right: 2px; }

.sub-labels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%; }

.label__icon {
  margin-right: 0.5rem; }
  .label__icon svg {
    height: 20px; }
    @media (max-width: 768px) {
      .label__icon svg {
        height: 15px; } }

.details__tooltip {
  z-index: 3;
  width: 50%;
  max-width: 600px;
  padding: 2rem;
  height: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1); }
  @media (max-width: 768px) {
    .details__tooltip {
      width: 80%;
      padding: 2rem 0.5rem; } }
  .details__tooltip .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem; }
    .details__tooltip .item p {
      text-transform: capitalize; }
  .details__tooltip .footer {
    margin-top: 1rem; }
  .details__tooltip p.a {
    text-align: right;
    width: 45%; }
  .details__tooltip p.b {
    text-align: left;
    width: 45%; }
  .details__tooltip p.angle {
    width: 10%;
    text-align: center; }

.countrywithflag {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
  margin-right: 2rem; }
  .countrywithflag span {
    font-size: 3.5rem !important; }
    @media (max-width: 768px) {
      .countrywithflag span {
        font-size: 2.5rem !important; } }
  @media (max-width: 768px) {
    .countrywithflag {
      border: none; } }
  .countrywithflag p {
    display: flex;
    align-items: center; }

.label-cat {
  width: 50%;
  padding: 0 1rem; }
  .label-cat.--debt {
    width: 100%;
    cursor: none; }
  .label-cat ._bar {
    position: relative;
    cursor: pointer;
    height: 40px;
    background-color: #ECEDEB;
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: hidden; }
    .label-cat ._bar .figure {
      margin-left: 1rem; }
      .label-cat ._bar .figure.--center {
        position: absolute;
        color: white;
        left: 50%;
        transform: translateX(-50%); }
    .label-cat ._bar > .Bar {
      height: 100% !important; }

.icon__ svg {
  height: 40px; }

.label__icon svg {
  height: 40px; }
  @media (max-width: 768px) {
    .label__icon svg {
      height: 30px; } }

.mobile-nav-wrapper {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10%;
  left: 2%;
  border-radius: 50%;
  background-color: #DB614B;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none; }
  @media (max-width: 768px) {
    .mobile-nav-wrapper {
      display: block; } }
  @media (max-width: 768px) {
    .mobile-nav-wrapper svg {
      position: absolute;
      top: 50% !important;
      left: 50%;
      transform: translate3d(-50%, -50%, 0); } }

.Header {
  height: 130px;
  background-color: #21418E;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Header .mobile-nav-control {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: block;
    top: 0;
    right: 0;
    display: none; }
    .Header .mobile-nav-control path {
      fill: white; }
    @media (max-width: 768px) {
      .Header .mobile-nav-control {
        display: block; } }
  @media (max-width: 768px) {
    .Header {
      flex-direction: column;
      height: 80px; } }
  @media (max-width: 425px) {
    .Header {
      height: 60px; } }
  .Header .title {
    height: 100%;
    max-width: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (max-width: 768px) {
      .Header .title {
        height: auto;
        transform: translateY(10px); } }
    .Header .title .logo-svg svg {
      width: 700px; }
      @media (max-width: 768px) {
        .Header .title .logo-svg svg {
          width: 100%; } }

.header-tagline {
  font-size: 1.2rem;
  color: white;
  text-transform: capitalize;
  transform: translateY(-7px);
  letter-spacing: 0.5px; }
  @media (max-width: 768px) {
    .header-tagline {
      font-size: 12px;
      width: 100%;
      text-align: center; }
      .header-tagline.--title {
        max-width: 30%; } }

.title-line {
  letter-spacing: -1.5px;
  font-size: 5rem;
  color: white;
  font-weight: 700;
  opacity: 0.85; }
  @media (max-width: 768px) {
    .title-line {
      display: none; } }
  .title-line span {
    color: #DB614B; }

.Currency {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: center;
  -ms-flex-direction: column; }
  @media (max-width: 768px) {
    .Currency {
      display: none; }
      .Currency.--mobile-nav {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 2rem; } }
  .Currency p {
    text-align: center;
    color: #101754;
    font-size: 20px;
    width: 100%;
    line-height: 1;
    opacity: 0.8; }
    @media (max-width: 768px) {
      .Currency p {
        font-size: 12px; } }
  .Currency .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
  .Currency .button {
    opacity: 0.5;
    margin: 0 0.5rem;
    cursor: pointer;
    border: 1px solid #101754;
    border-radius: 50%;
    width: 28px;
    height: 28px; }
    @media (max-width: 768px) {
      .Currency .button {
        width: 14px;
        height: 14px; } }
    .Currency .button div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .Currency .button.--euro.--isSelected svg g g g * {
      stroke: white !important; }
    .Currency .button.--isSelected {
      background-color: #DB614B;
      opacity: 1;
      border: 1px solid #DB614B; }
      .Currency .button.--isSelected svg g * {
        fill: white !important; }
      .Currency .button.--isSelected svg g g * {
        fill: white !important; }
      .Currency .button.--isSelected svg g g g * {
        fill: white !important; }
    .Currency .button svg {
      width: 35%; }

* {
  outline: none; }

.Navigation {
  display: flex;
  flex-direction: column;
  height: auto; }
  .Navigation .inner {
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1500px;
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    flex-direction: row; }
    @media (max-width: 768px) {
      .Navigation .inner {
        padding: 0 0.5rem;
        flex-direction: column-reverse;
        height: auto;
        padding: 0; } }
  .Navigation .banner {
    height: 75%;
    min-height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101754; }
    @media (max-width: 768px) {
      .Navigation .banner {
        display: none; } }
    .Navigation .banner p {
      color: white;
      text-align: center;
      max-width: 900px;
      padding: 1rem;
      font-size: 1.2rem;
      opacity: 0.85;
      letter-spacing: 1px; }
  .Navigation .bottom {
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #ECEDEB;
    width: 100%;
    z-index: 7;
    box-shadow: 0 7px 15px -1px rgba(0, 0, 0, 0.2); }
    .Navigation .bottom .bttm-lhs {
      display: flex;
      width: 90%;
      justify-content: flex-end;
      overflow: hidden; }
      @media (max-width: 768px) {
        .Navigation .bottom .bttm-lhs {
          width: 100%;
          padding: 1rem 0.5rem; } }
      @media (max-width: 425px) {
        .Navigation .bottom .bttm-lhs {
          padding: 0.5rem; } }
    @media (max-width: 768px) {
      .Navigation .bottom {
        height: auto; } }
    .Navigation .bottom .controls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 1rem;
      max-width: 650px; }
      @media (max-width: 768px) {
        .Navigation .bottom .controls {
          width: 100%;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin: 0; } }
      @media (max-width: 465px) {
        .Navigation .bottom .controls {
          justify-content: center; } }
      .Navigation .bottom .controls .control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%; }
        @media (max-width: 768px) {
          .Navigation .bottom .controls .control {
            width: 25%;
            justify-content: space-between; }
            .Navigation .bottom .controls .control p {
              font-size: 14px !important; } }
        .Navigation .bottom .controls .control.--national-wealth {
          cursor: pointer; }
        .Navigation .bottom .controls .control .control__icon svg {
          width: 40px;
          margin-right: 0.5rem; }
          @media (max-width: 768px) {
            .Navigation .bottom .controls .control .control__icon svg {
              width: 25px;
              margin-right: 0.25rem; } }
          @media (max-width: 425px) {
            .Navigation .bottom .controls .control .control__icon svg {
              width: 20px;
              margin-right: 0.25rem; } }
        .Navigation .bottom .controls .control p {
          width: 50%;
          color: #101754;
          font-family: 'maven-200', serif; }
          @media (max-width: 768px) {
            .Navigation .bottom .controls .control p {
              font-size: 1rem; } }
        .Navigation .bottom .controls .control .icon-stack {
          cursor: pointer;
          display: flex;
          flex-direction: column; }
          .Navigation .bottom .controls .control .icon-stack svg {
            width: 18px; }
            @media (max-width: 768px) {
              .Navigation .bottom .controls .control .icon-stack svg {
                width: 13px; } }

.debt-card-national {
  max-width: 150px;
  width: 100%;
  height: 40px; }
  @media (max-width: 768px) {
    .debt-card-national {
      height: 30px;
      max-width: 75px; } }
  .debt-card-national .inner {
    height: 100%;
    background-color: #ECEDEB; }
  .debt-card-national .top {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: #DB614B;
    height: 100%; }
    @media (max-width: 768px) {
      .debt-card-national .top {
        padding: 0.5rem; } }
    .debt-card-national .top p {
      font-size: 1.2rem;
      color: white; }
      @media (max-width: 768px) {
        .debt-card-national .top p {
          font-size: 14px; } }
  .debt-card-national .paid-off {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: #92c34b; }
    .debt-card-national .paid-off p {
      color: white; }
  @media (max-width: 768px) {
    .debt-card-national.--nav {
      display: block;
      max-width: 100%;
      width: 100%; } }

.watch-logo svg {
  overflow: visible; }

.watch-logo > div > svg > g > g > g circle:nth-of-type(1) {
  fill: transparent !important;
  stroke: #121762 !important; }

.watch-logo > div > svg > g > g > g path {
  stroke: #121762 !important; }

.watch-logo > div > svg > g > g > g circle:nth-of-type(2) {
  stroke: #121762 !important; }

.watch-logo.--isActive > div > svg > g > g > g circle:nth-of-type(1) {
  fill: #121762 !important;
  stroke: transparent !important; }

.watch-logo.--isActive > div > svg > g > g > g path {
  stroke: white !important; }

.watch-logo.--isActive > div > svg > g > g > g circle:nth-of-type(2) {
  stroke: white !important; }

.twotone {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.column-titles {
  width: 38.5%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .column-titles .Currency {
    display: none; }
  @media (max-width: 768px) {
    .column-titles {
      width: 100%;
      padding: 0.5rem; }
      .column-titles .Currency {
        display: block !important; } }
  .column-titles .column-country p {
    color: #101754;
    opacity: 0.8;
    font-size: 1.3rem; }
    @media (max-width: 768px) {
      .column-titles .column-country p {
        font-size: 14px;
        display: flex; } }
  .column-titles .column-debt .block {
    background-color: #DB614B;
    padding: 0.5rem;
    min-width: 150px;
    display: flex;
    justify-content: center; }
    @media (max-width: 768px) {
      .column-titles .column-debt .block {
        min-width: 100px;
        padding: 0.25rem; } }
    .column-titles .column-debt .block p {
      color: white;
      font-size: 1.2rem; }
      @media (max-width: 768px) {
        .column-titles .column-debt .block p {
          font-size: 14px; } }

.MobileNav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  height: 50%;
  width: 100%;
  background-color: #21418E;
  transform: translateY(-200%);
  transition: transform 0.25s ease;
  padding: 1rem;
  box-shadow: 0 7px 15px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column-reverse; }
  .MobileNav .header-tagline {
    width: 60%;
    transform: none; }
  .MobileNav .Social__container {
    height: auto; }
  .MobileNav.--isOpen {
    transform: translateY(0%);
    transition: transform 0.25s ease;
    align-items: center; }
  .MobileNav .blurb {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    color: white;
    font-size: 1rem; }

.close-container {
  width: 100%;
  position: relative;
  height: 30px; }

.mobile-nav-menu-close {
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0; }

.Social__icons {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .Social__icons {
      margin-top: 1rem; } }

.Social__logo {
  width: 100%; }
  .Social__logo img {
    width: 100%;
    height: 100%; }

.Social__container {
  position: absolute;
  width: 250px;
  margin: 0 auto;
  right: 0;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  padding-bottom: 0.6rem; }
  @media (max-width: 768px) {
    .Social__container {
      display: none; }
      .Social__container.--mobile-nav {
        display: flex;
        position: relative;
        width: 100%; }
        .Social__container.--mobile-nav .c-t-m {
          font-size: 1.8rem; } }

.social__link {
  margin-top: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .social__link svg {
    width: 18px;
    height: 18px;
    fill: white; }
  .social__link.--info {
    transform: scale(1.2) translate(2px); }
    .social__link.--info path {
      fill: #ec5741 !important;
      stroke-width: 2px; }
    .social__link.--info circle {
      stroke: #ec5741 !important;
      stroke-width: 2px; }

.brought-to-you {
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: bolder; }

.c-t-m {
  font-weight: bolder;
  text-align: center;
  color: white;
  font-family: 'maven-300', serif;
  font-size: 1.2rem !important; }

.CountryItem {
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3566B2;
  justify-content: space-between;
  max-width: 1500px;
  padding: 0 1rem;
  margin: 0.5rem auto;
  position: relative; }
  @media (max-width: 768px) {
    .CountryItem {
      height: 80px;
      flex-direction: column;
      border-bottom: none !important;
      margin: 1.5rem 0; } }
  .CountryItem .group {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%; }
    @media (max-width: 768px) {
      .CountryItem .group {
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between; } }
    .CountryItem .group:hover {
      z-index: 99; }
  .CountryItem .lhs {
    height: 100%;
    align-items: center;
    display: flex;
    width: 40%;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .CountryItem .lhs {
        width: 100%;
        justify-content: space-between;
        transform: translateX(-2px); } }
    .CountryItem .lhs span {
      margin-right: 2rem;
      transform: scale(2) translateX(20%); }
      @media (max-width: 768px) {
        .CountryItem .lhs span {
          margin-right: 1rem;
          transform: scale(1.5) translateX(20%);
          background-size: cover !important; } }

.stacked-bar-chart {
  width: 75%;
  max-width: 50%;
  height: 40px;
  position: relative;
  background-color: #ECEDEB;
  border-radius: 1px; }
  @media (max-width: 768px) {
    .stacked-bar-chart {
      height: 30px;
      width: 100%;
      transform: translateX(2px); } }
  .stacked-bar-chart .stack {
    position: relative;
    display: flex;
    height: 100%;
    border-radius: 1px;
    background-color: #ECEDEB; }

.debt-card {
  width: 100%;
  max-width: 25%; }
  .debt-card .inner {
    display: flex;
    flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .debt-card {
      max-width: 100%; }
      .debt-card p {
        font-size: 14px !important; } }
  .debt-card.--mobile {
    display: none; }
    @media (max-width: 768px) {
      .debt-card.--mobile {
        display: block;
        max-width: 200px;
        width: auto; }
        .debt-card.--mobile .inner {
          display: flex; } }
  .debt-card .top {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.5rem;
    justify-content: center;
    align-items: center; }
    .debt-card .top p {
      font-size: 1.3rem;
      color: #101754; }
    .debt-card .top p.--small {
      font-size: 1rem; }
    @media (max-width: 768px) {
      .debt-card .top {
        padding-top: 0;
        align-items: flex-start; } }
  .debt-card .bottom {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #101754; }
    .debt-card .bottom p {
      font-size: 1.3rem;
      color: #101754; }
    @media (max-width: 768px) {
      .debt-card .bottom {
        padding-top: 0;
        align-items: flex-end; } }

.countryandflag {
  display: flex;
  cursor: pointer; }
  @media (max-width: 768px) {
    .countryandflag {
      align-items: center; } }
  .countryandflag h3 {
    color: #101754; }
    @media (max-width: 768px) {
      .countryandflag h3 {
        font-size: 14px; } }
  .countryandflag span {
    border: 0.5px solid rgba(126, 166, 215, 0.5);
    border-radius: 1px; }

.Angle-Tooltip {
  cursor: pointer;
  box-shadow: 0 9px 15px -1px rgba(0, 0, 0, 0.4);
  z-index: 2;
  background-color: #F4F4F4;
  padding: 2rem;
  position: absolute;
  left: 50%;
  min-width: 350px;
  top: 100%;
  transform: translate3d(200%, 0, 0);
  opacity: 0; }
  @media (max-width: 768px) {
    .Angle-Tooltip {
      min-width: 300px;
      left: 30%; } }
  .Angle-Tooltip p {
    color: #101754; }
  .Angle-Tooltip .arrow {
    width: 25px;
    height: 25px;
    background-color: #F4F4F4;
    transform: rotate(45deg);
    position: absolute;
    left: 45%;
    top: -5px; }
  .Angle-Tooltip.show {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
    transition: 0.25s opacity ease;
    display: block; }
  .Angle-Tooltip .holder {
    display: flex; }

.angletooltip__icon {
  width: 25px;
  margin-right: 1.5rem; }

.InfoModal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 90%; }
  .InfoModal .InfoModal__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center; }
    .InfoModal .InfoModal__heading h2 {
      text-transform: capitalize; }
    .InfoModal .InfoModal__heading h3 {
      cursor: pointer; }

.WalkthroughModal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 90%; }
  .WalkthroughModal p {
    margin-bottom: 1rem;
    font-weight: bold; }
  .WalkthroughModal .WalkthroughModal__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center; }
    .WalkthroughModal .WalkthroughModal__heading h2 {
      font-weight: bold;
      text-transform: capitalize; }
    .WalkthroughModal .WalkthroughModal__heading h3 {
      cursor: pointer; }
