$mobilebreak: 768px;

$blue1: #101754;
$blue2: #21418E;
$blue3: #3566B2;
$blue4: rgb(126, 166, 215);
$blue4a: rgba(126, 166, 215, 0.5);
$blue5: #DFF1FD;
$red: #DB614B;
$white: #FFFFFF;
$green:  #92c34b;
$grey: #BABAB9;

* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  font-weight: 600;

  // @media(max-width: $mobilebreak) {
  //   font-size: 0.8rem;
  // }
}

button, a {
  &:hover {
    cursor: pointer;
  }
}

body {
  filter: saturate(1.15);
  height: 100vh;
  overflow-y: hidden;
}

@font-face {
  font-family: 'maven-100';
  src: url("../assets/fonts/MavenProLight-100.otf") format("opentype");
}

@mixin maven100() {
  font-family: 'maven-100', serif;
}

@font-face {
  font-family: 'maven-200';
  src: url("../assets/fonts/MavenProLight-200.otf") format("opentype");
}

@mixin maven200() {
  font-family: 'maven-200', serif;
}

@font-face {
  font-family: 'maven-300';
  src: url("../assets/fonts/MavenProLight-300.otf") format("opentype");
}

@mixin maven300() {
  font-family: 'maven-300', serif;
}

@mixin laptop-large {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 425px) {
    @content;
  }
}

* {
  @include maven200;
}

.Router__container {
  height: 100vh;
  // height: 100vh;
  // overflow-y: hidden;

  @media(max-width: $mobilebreak) {
    // overflow: hidden;   
  }
}

.Router__inner-container {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

@import "../ui/components/custom/Bar/Bar.scss";
@import "../ui/components/custom/Tooltip/Tooltip.scss";
@import "../ui/global/Walkthrough/Walkthrough.scss";
@import "../ui/components/container/Modal/Modal.scss";
@import "../ui/views/CountryList/CountryList.scss";
@import "../ui/views/CountryDetail/CountryDetail.scss";
@import "../ui/components/custom/Header/Header.scss";
@import "../ui/components/custom/Currency/Currency.scss";
@import "../ui/global/Navigation/Navigation.scss";
@import "../ui/components/custom/MobileNav/MobileNav.scss";
@import "../ui/components/custom/Social/Social.scss";
@import "../ui/components/common/CountryItem/CountryItem.scss";
@import "../ui/components/common/InfoModal/InfoModal.scss";
@import "../ui/components/common/WalkthroughModal/WalkthroughModal.scss";
