* {
  outline: none;
}

.Navigation {
  display: flex;
  flex-direction: column;
  height: auto;
  // background-color: $grey;
  
  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    // padding: 0 1rem;
    // background-color: #BABAB9;
    max-width: 1500px;
    padding: 0 1rem;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    box-shadow: 0 7px 15px -1px rgba(0,0,0,0.2);

    @media(max-width: $mobilebreak) {
      padding: 0 0.5rem;
      flex-direction: column;
      height: auto;
      padding: 0;
    }
  }

  .banner {
    height: 75%;
    min-height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue1;

    @media(max-width: $mobilebreak) {
      display: none;
    }

    p {
      color: white;
      text-align: center;
      max-width: 900px;
      padding: 1rem;
      font-size: 1.2rem;
      opacity: 0.85;
      letter-spacing: 1px;
    }
  }

  .bottom {
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #ECEDEB;
    width: 100%;
    z-index: 7;

    .bttm-lhs {
      display: flex;
      width: 90%;
      overflow: hidden;

      @media(max-width: $mobilebreak) {
        width: 100%;
        padding: 1rem 0.5rem;
      }
    }

    @media(max-width: $mobilebreak) {
      height: auto;
    }

    .controls {
      display: flex;
      justify-content: space-between;
      width: 100%;
      
      @media(max-width: $mobilebreak) {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      
      @media(max-width: 465px) {
        justify-content: center;
      }
      
      .control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        
        @media(max-width: $mobilebreak) {
          width: 33%;
          justify-content: space-between;
        }

        &.--national-wealth {
          cursor: pointer;
        }

        .control__icon {
          svg {
            width: 30px;
            margin-right: 0.5rem;
            
            @media(max-width: $mobilebreak) {
              width: 25px;
              margin-right: 0.25rem;
            }
          }
        }

        p {
          width: 50%;
          color: $blue1;
          @include maven200;

          @media(max-width: $mobilebreak) {
            font-size: 1rem;
          }
        }

        .icon-stack {
          cursor: pointer;
          display: flex;
          flex-direction: column;

          svg {
            width: 18px;

            @media(max-width: $mobilebreak) {
              width: 13px;
            }
          }
        }
      }
    }
  }

  &.--animate {}

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}

.debt-card-national {
  max-width: 150px;
  width: 100%;
  height: 40px;

  .inner {
    height: 100%;
    background-color: #ECEDEB;
  }

  .top {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: $red;
    height: 100%;
    
    @media (max-width: 768px) {
      padding: 0.5rem;
    }

    p {
      font-size: 1.2rem;
      color: white;
    }
  }
  
  .paid-off {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: $green;
    p {
      color: white;
    }
  }

  @media (max-width: 768px) {
    &.--nav {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
}

.watch-logo {
  // opacity: 0.5;

  svg {
    overflow: visible;

  }

  > div > svg > g > g > g {
    circle:nth-of-type(1) {
      fill: transparent !important;
      stroke: #121762 !important;
    }

    path {
      stroke: #121762 !important;
    }

    circle:nth-of-type(2) {
      stroke: #121762 !important;
    }
  }
  
  &.--isActive {
    > div > svg > g > g > g {
      circle:nth-of-type(1) {
        fill: #121762 !important;
        stroke: transparent !important;
      }
  
      path {
        stroke: white !important;
      }

      circle:nth-of-type(2) {
        stroke: white !important;
      }
    }
    // opacity: 1;

  }
}

.twotone {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-titles {
  width: 38.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .column-country {
    p {
      color: $blue1;
      opacity: 0.8;
      font-size: 1.3rem;
    }
  }
  .column-debt {
    .block {
      background-color: $red;
      padding: 0.5rem;
      min-width: 150px;
      display: flex;
      justify-content: center;
      p {
        color: white;
        font-size: 1.2rem;
      }
    }
  }
}