.CountryItem {
  height: 75px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $blue3;
  justify-content: space-between;
  max-width: 1500px;
  padding: 0 1rem;
  margin: 0.5rem auto;

  @media(max-width: $mobilebreak) {
    height: 80px;
    flex-direction: column;
    border-bottom: none !important;
    margin: 1.5rem 0;
  }

  .group {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;

    @media(max-width: $mobilebreak) {
      flex-direction: row;
      height: 100%;
      width: 100%;
      justify-content: space-between;
    }
  }

  .lhs {
    height: 100%;
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 40%;
    justify-content: space-between;

    @media(max-width: $mobilebreak) {
      width: 100%;
      justify-content: space-between;
      transform: translateX(-2px);
    }

    span {
      margin-right: 2rem;
      transform: scale(2) translateX(20%);
      
      @media (max-width: 768px) {
        margin-right: 1rem;
        transform: scale(1.5) translateX(20%);
        background-size: cover;
        
      }
    }
  }
  
  @media (min-width: 425px) {}
  
  @media (min-width: 768px) {}
  
  @media (min-width: 1024px) {}
  
  @media (min-width: 1440px) {}
}

.stacked-bar-chart {
  width:75%;
  max-width: 50%;
  height: 40px;
  position: relative;
  background-color: #ECEDEB;
  border-radius: 1px;
  
  @media(max-width: $mobilebreak) {
    height: 30px;
    width: 100%;
    transform: translateX(2px);
  }

  .stack {
    position: relative;
    display: flex;
    height: 100%;
    border-radius: 1px;
    background-color: #ECEDEB;
  }
}

.debt-card {
  width: 100%;
  max-width: 25%;

  .inner {
    display: flex;
    flex-direction: row-reverse;
  }

  @media(max-width: $mobilebreak) {
    max-width: 100%;

    p {
      font-size: 14px !important;
    }
  }

  &.--mobile {
    display: none;
    
    @media(max-width: $mobilebreak) {
      display: block;
      max-width: 200px;
      width: auto;
      .inner {
        display: flex;
      }
    }
  }

  .top {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.5rem;
    justify-content: center;
    align-items: center;
    p {
      font-size: 1.3rem;
      color: $blue1;
    }
    p.--small {
      font-size: 1rem;
    }

    @media(max-width: $mobilebreak) {
      padding-top: 0;
      align-items: flex-start;
    }
  }
  
  .bottom {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $blue1;

    p {
      font-size: 1.3rem;
      color: $blue1;
    }

    @media(max-width: $mobilebreak) {
      padding-top: 0;
      align-items: flex-end;
    }
  }
}

.countryandflag {
  display: flex;

  @media(max-width: $mobilebreak) {
    align-items: center;
  }

  h3 {
    color: $blue1;

    @media(max-width: $mobilebreak) {
      font-size: 14px;
    }
  }

  span {
    border: 0.5px solid $blue4a;
    border-radius: 1px;
  }
}

.Angle-Tooltip {
  cursor: pointer;
  box-shadow: 0 9px 15px -1px rgba(0,0,0,0.4);
  z-index: 2;
  background-color: #F4F4F4;
  padding: 2rem;
  position: absolute;
  left: 50%;
  min-width: 350px;
  top: 100%;
  transform: translate3d(-50%, 0, 0);
  display: none;

  p {
    color: $blue1;
  }

  .arrow {
    width: 25px;
    height: 25px;
    background-color: #F4F4F4;
    transform: rotate(45deg);
    position: absolute;
    left: 45%;
    top: -5px;
  }

  &.show {
    display: block;
  }

  .holder {
    display: flex;
  }
}

.angletooltip__icon {
  width: 25px;
  margin-right: 1.5rem;
}