.Currency {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  p {
    text-align: center;
    color: $blue1;
    font-size: 20px;
    margin-bottom: 0.5rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .button {
    opacity: 0.5;
    margin: 0 0.25rem;
    cursor: pointer;
    border: 1px solid $blue3;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.--euro {
      // transform: scale(1.3);

      &.--isSelected {
        svg {
          g {
            g {
              g {
                * {
                  stroke: white !important;
                }
              }
            }
          }
        }
      }
    }

    &.--isSelected {
      background-color: #3566B2;
      opacity: 1;

      svg {
        g {
          * {
            fill: white !important;
            // stroke: white !important;
          }

          g {
            * {
              fill: white !important;
              // stroke: white !important;
            }

            g {
              * {
                fill: white !important;
                // stroke: white !important;
              }
            }
          }
        }
      }
    }

    svg {
      width: 25%;
    }
  }
}