.Header {
  height: 100px;
  background-color: $blue2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .mobile-nav-control {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    path {
      fill: white;
    }

    display: none;
    @media(max-width: $mobilebreak) {
      display: block;

    }
  }

  @media(max-width: $mobilebreak) {
    flex-direction: column;
    height: 80px;
  }

  .title {
    height: 100%;
    max-width: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: $mobilebreak) {
      height: auto;
      transform: translateY(10px);
    }

    .logo-svg {
      svg {
        width: 500px;
        // max-width: 500px;

        @media(max-width: $mobilebreak) {
          width: 100%;
        }
      }
    }
    

    div {
      // height: 100%;
      // display: flex;
      // align-items: center;
    }

    svg { 
      // height: 100%;
    }
  }

  &.--animate {}

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}
