.Navigation {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: $grey;

  .banner {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue1;

    @media(max-width: $mobilebreak) {
      display: none;
    }

    p {
      color: white;
      text-align: center;
      max-width: 700px;
      padding: 1rem;
    }
  }

  .bottom {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: $grey;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    .bttm-lhs {
      display: flex;
      width: 90%;
      overflow: hidden;
    }

    @media(max-width: $mobilebreak) {
      height: 85px;
    }

    .controls {
      display: flex;
      flex-direction: space-between;
      width: 70%;
      
      @media(max-width: $mobilebreak) {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .control {
        display: flex;
        align-items: center;
        width: 25%;
        
        @media(max-width: $mobilebreak) {
          width: 30%;
          justify-content: space-between;
        }

        &.--national-wealth {
          cursor: pointer;
        }

        .control__icon {
          svg {
            width: 30px;
            margin-right: 0.5rem;
            
            @media(max-width: $mobilebreak) {
              width: 25px;
              margin-right: 0.25rem;
            }
          }
        }

        p {
          width: 50%;
          color: $blue1;
          @include maven200;

          @media(max-width: $mobilebreak) {
            font-size: 12px;
          }
        }

        .icon-stack {
          width: 25%;
          display: flex;
          flex-direction: column;

          svg {
            width: 18px;

            @media(max-width: $mobilebreak) {
              width: 13px;
            }
          }
        }
      }
    }
  }

  &.--animate {}

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}

.debt-card {
  max-width: 100px;
  width: 10%;

  .top {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: $red;
    p {
      color: white;
    }
  }
  
  .paid-off {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: $green;
    p {
      color: white;
    }
  }
}

.watch-logo {
  opacity: 0.5;

  &.--isActive {
    opacity: 1;
  }
}