.Navigation {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: $grey;

  .banner {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue1;

    p {
      color: white;
      text-align: center;
      max-width: 700px;
      padding: 1rem;
    }
  }

  .bottom {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    background-color: $grey;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

    .controls {
      display: flex;
      flex-direction: space-between;
      width: 70%;

      .control {
        display: flex;
        align-items: center;
        width: 25%;

        &.--national-wealth {
          cursor: pointer;
        }

        .control__icon {
          width: 25%;

          svg {
            width: 40px;
            margin-right: 0.5rem;
          }
        }

        p {
          width: 50%;
          color: $blue1;
          @include maven200;
          font-size: 18px;
        }

        .icon-stack {
          width: 25%;
          display: flex;
          flex-direction: column;

          svg {
            width: 25px;
          }
        }
      }
    }
  }

  &.--animate {}

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}

.debt-card {
  max-width: 100px;
  width: 10%;

  .top {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: $red;
    p {
      color: white;
    }
  }
  
  .paid-off {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: center;
    background-color: $green;
    p {
      color: white;
    }
  }
}

.watch-logo {
  opacity: 0.5;

  &.--isActive {
    opacity: 1;
  }
}