.CountryList {
  height: calc(100vh - 100px);
  overflow: hidden;

  .list {
    height: 80%;
    overflow-y: scroll;
  }
  // &.--animate {}

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}