// @for $i from 1 through 1000 {
//   .Cake {
//     &:nth-of-type(#{$i}) {
//       transition-delay: #{$i / 10}s !important;
//     }
//   }
// }

.Bar {
  height: 50%;
  max-height: 25px;

  &.--total-debt {
    background-color: $red;
  }

  &.--national-wealth {
    background-color: $blue1;
  }

  &.--business {
    background-color: $blue2;
  }

  &.--resource {
    background-color: $blue3;
  }

  &.--tourism {
    background-color: $blue4;
  }

  &.--sport {
    background-color: $blue5;
  }
  
  &.--animate {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}