.Bar {
  height: 100%;
  // max-height: 25px;
  cursor: pointer;
  min-width: 1%;
  margin-right: 0px;

  &.--national-debt {
    background-color: $red;
  }

  &.--national-wealth {
    background-color: $blue1;
  }

  &.--business {
    background-color: $blue2;
  }

  &.--resource {
    background-color: $blue3;
  }

  &.--tourism {
    background-color: $blue4;
  }

  &.--sport {
    background-color: $blue5;
  }
  
  &.--animate {
    opacity: 1;
    transition: opacity 0.25s ease;
  }

  @media (min-width: 425px) {}

  @media (min-width: 768px) {}

  @media (min-width: 1024px) {}

  @media (min-width: 1440px) {}
}

.stack {
  .Bar {
    height: 100% !important;
  }
}