.CountryDetail {
  p {
    font-size: 18px;

    @media(max-width: $mobilebreak) {
      font-size: 1rem;
    }
  }

  @media(max-width: $mobilebreak) {
    overflow-y: scroll;
    height: 80%;
  }

  .data-vis {
    max-width: $mobilebreak;
    margin: 0 auto;
    width: 100%;
    height: auto;

    .Bar {
      height: 15px;
    }

    .row {
      padding: 1rem;

      .label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 1rem;
      }
    }
  }

  .banner {
    height: auto;
    padding: 2rem;
    background-color: $blue1;
    
    @media(max-width: $mobilebreak) {
      padding: 1rem;

      p {
        font-size: 12px;
      }
    }

    p {
      width: 100%;
      max-width: $mobilebreak;
      margin: 0 auto;
      line-height: 1.4;
      text-align: center;
      color: white;
    }
  }

  .footer {
    display: flex;
    justify-content: center;

    button {
      background-color: $blue1;
      padding: 1rem;

      p, h4, h3, h2, h1 {
        color: white;
      }
    }
  }
}

.bar-group {
  display: flex;

  .Bar {
    min-width: 1% !important;
    margin-right: 2px;
  }
}

.sub-labels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.label__icon {
  margin-right: 0.5rem;

  svg {
    height: 20px;
  }
}

.details__tooltip {
  z-index: 3;
  width: 50%;
  max-width: 600px;
  padding: 2rem;
  height: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .footer {
    margin-top: 1rem;
  }

  p.a {
    text-align: right;
    width: 45%;
  }
  
  p.b {

    text-align: left;
    width: 45%;
  }
  
  p.angle {
    width: 10%;
    text-align: center;
  }
}