.CountryDetail {
  p {
    font-size: 18px;

    @media(max-width: $mobilebreak) {
      font-size: 1rem;
    }
  }

  @media(max-width: $mobilebreak) {
    height: calc(100vh - 60px);
  }

  .data-vis {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    height: auto;

    @media(max-width: $mobilebreak) {

      overflow-y: scroll;
      height: 70%;

      p {
        font-size: 14px;
      }
    }

    hr {
      background-color: $blue2;
      color: $blue2;
      opacity: 0.8;
      margin: 1rem 0;
    }

    .Bar {
      height: 15px;
    }

    .row {
      &.--top {
        margin-top: 1rem;

        .figure {
          // position: absolute;
          // left: 50%;
          // color: white;
        }
      }

      padding: 0.5rem 1rem;
      display: flex;
      align-items: flex-end;
      width: 100%;

      &.--tourism {
        padding: 1rem 1rem 0.5rem 1rem;
      }

      .label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 1rem;
        width: 20%;

        p {
          text-transform: capitalize;
        }
      }
    }
  }

  .banner {
    .inner {
      margin: 0 auto;
      max-width: 1500px;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
    }
    
    height: auto;
    background-color: $blue1;
    
    @media(max-width: $mobilebreak) {
      padding: 1rem;

      p {
        font-size: 12px;
      }
    }

    h2 {
      text-align: center;
      color: white;
      text-transform: capitalize;
      letter-spacing: 0.2rem;
      opacity: 0.85;
    }

    p {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: $mobilebreak;
      margin: 0 auto;
      line-height: 1.4;
      text-align: left;
      max-width: 80%;
      color: white;
    }
  }

  .footer {
    display: flex;
    justify-content: center;

    &.--mobile {
      display: none;
    }
    
    @media(max-width: 768px) {
      display: none;

      &.--mobile {
        display: flex;
      }
    }

    button {
      background-color: $blue1;
      padding: 1rem;

      p, h4, h3, h2, h1 {
        color: white;
      }
    }
  }
}

.bar-group {
  display: flex;

  .Bar {
    min-width: 1% !important;
    margin-right: 2px;
  }
}

.sub-labels {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.label__icon {
  margin-right: 0.5rem;

  svg {
    height: 20px;

    @media(max-width: 768px) {
      height: 15px;
    }
  }
}

.details__tooltip {
  z-index: 3;
  width: 50%;
  max-width: 600px;
  padding: 2rem;
  height: auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);

  @media(max-width: 768px) {
    width: 80%;
    padding: 2rem 0.5rem;
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    p {
      text-transform: capitalize;
    }
  }

  .footer {
    margin-top: 1rem;
  }

  p.a {
    text-align: right;
    width: 45%;
  }
  
  p.b {

    text-align: left;
    width: 45%;
  }
  
  p.angle {
    width: 10%;
    text-align: center;
  }
}

.countrywithflag {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid white;
  margin-right: 2rem;

  span {
    font-size: 3.5rem !important;
    
    @media(max-width: 768px) {
      font-size: 2.5rem !important;
    }
  }

  @media(max-width: 768px) {
    border: none;
  }

  p {
    display: flex;
    align-items: center;
  }
}

.label-cat {
  width: 50%;
  padding: 0 1rem;

  &.--debt {
    width: 100%;
    cursor: none;
  }

  ._bar {
    position: relative;
    cursor: pointer;
    height: 40px;
    background-color: #ECEDEB;
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;

    .figure {
      margin-left: 1rem;
      
      &.--center {
        position: absolute;
        color: white;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    > .Bar {
      height: 100% !important;
    }
  }
}

.icon__ {
  svg {
    height: 40px;
  }
}

.label__icon {
  svg {
    height: 40px;

    @media(max-width: 768px) {
      height: 30px;
    }
  }
}